#first {
    background-color: rgb(95, 86, 86);
    width: 50%;
    height:800px;
}
#second {
    background-color: #e642f5;
    width: 50%;
    height:400px;
}
@media  screen and (max-width:768px) {
    #first{
        background-color: black;
        width:100%;
    }
    #second {
        background-color: red;
        width:100%;
    }
}
/*-------------*/
.banner {
  background: black;
   color: #fff;
   padding-top: 3%;
   height: 220px;
}
.promo-title {
    font-size: 40px;
    font-weight: 650;
    margin-top: 70px;
    opacity: .8;
}

.banner a{
    color:#fff;
    text-decoration: none;
}
.bottom-img{
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
}
.plan{
    position:absolute;
    left: 60%;
    top: 30%;
    color: blue;
}
.plan p{
    font-size:24px;
    text-transform: uppercase;
}
.plan ul li{
    font-size: 17px;
    text-transform: uppercase;
}
.c-btn{
   
    padding:5px 12px;
    border-radius: 18px;
    border: 1px solid blue;
    cursor: pointer;
    color: blue;
}
.img-fluid{
    position:relative;
}
@media  screen and (max-width:756px) {
    .banner{
        height: auto;
    }
    .plan{
        position: absolute;
       left: 30%;
       top:55%;
       overflow: hidden;
    }


}